<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 3.0//EN">
<html>
<head>
<title>在chrome浏览器中会自动生成有向图</title>

<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
<meta http-equiv="description" content="this is my page">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<!--<link rel="stylesheet" type="text/css" href="./styles.css">-->
<script type="text/javascript" src="../sea-modules/seajs/seajs/2.3.0/sea.js"></script>
<script type="text/javascript">
	seajs.config({
		base : "../sea-modules/",
		alias : {
			"jquery" : "jquery/jquery/1.10.1/jquery.js"
		}
	});
	
	//未合并压缩
	//seajs.use("../source/test1/src/main.js");
	
	//已合并压缩
	seajs.use("test/test1/0.0.1/main.js");
	
	</script>
</head>

<body>
	<h1>测试seajs有向图</h1>
	<br>
	<h3>本次 测试 都是一些 js 的依赖循环问题。 在chrome浏览器中会自动生成有向图</h3>

	<div id="div1"> 这是内容</div>
</body>
</html>
